x-radio,
x-radio-button {
  --radio-padding-inline: 8px;
  --radio-padding-block: 6px;
  --radio-gap: 5px;
  --radio-button-width: unset;
  --radio-button-height: unset;
  --radio-button-color: blue;
  --radio-button-padding-inline: 8px;
  --radio-button-padding-block: 6px;
  --radio-button-border-color: lightgray;
}
