x-scrollbar {
  --scrollbar-track-width: 8px;
  --scrollbar-thumb-height: unset;
  --scrollbar-thumb-radius: 4px;
  --scrollbar-thumb-background: hsl(262, 85%, 69%);
  --scrollbar-track-padding: 10px;
  --scrollbar-track-background: #00000025;
}
