x-swiper {
  --swiper-btn-size: 32px;
  --swiper-btn-radius: 100%;
  --swiper-btn-color: rgba(0, 0, 0, 0.2);
  --swiper-btn-transform: translateY(-50%);
  --swiper-btn-margin: 10px;
  --swiper-arrow-width: 3px;
  --swiper-arrow-size: 30%;
  --swiper-arrow-color: rgba(0, 0, 0, 0.5);
}
